body {
  margin: 0;
}
.container {
  display: grid;
}
.gridNav {
  grid-template-columns: 9fr 1fr 1fr 1fr;
  padding-left: 50px;
}
.topNav {
  background-color: #FFFFFF;
  margin-bottom: -45px;
}
.topNav p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #657362;
}
.topNav img {
  width: 40px;
  padding-right: 20px;
}
.topNav ul {
  float: right;
}
.topNav ul li {
  display: inline;
}
.hero {
  background-color: #8DA698;
  height: 400px;
  background-image: url('../img/svg/scenic-background.svg');
  background-repeat: no-repeat;
  background-position: right;
}
.hero h1 {
  padding: 30px 0 0 40px;
  color: #F0F2F2;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.hero p {
  padding: 5px 0 0 40px;
  color: #F0F2F2;
  font-family: 'Quicksand', sans-serif;
  width: 85%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.education h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #657362;
  padding-top: 30px;
}
.eduHistory {
  grid-template-columns: 12fr;
  text-align: center;
}
.eduHistory h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #657362;
}
.eduHistory p {
  font-family: 'Quicksand', sans-serif;
  color: #657362;
}
.projects {
  background-color: #8DA698;
}
.projects h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #F0F2F2;
  padding-top: 30px;
}
.projects p {
  font-family: 'Quicksand', sans-serif;
  color: #F0F2F2;
  padding: 0 15px;
}
.projects .links img {
  width: 15px;
}
.projects .links a {
  text-decoration: none;
  color: #F0F2F2;
}
.projects .thumbnail {
  width: 60%;
  border-radius: 10px;
  text-decoration: none;
  border-style: solid;
  border-width: medium;
  border-color: #F0F2F2;
}
.projectGrid {
  grid-template-columns: 12fr;
  text-align: center;
}
@media only screen and (min-width: 570px) {
  .topNav img {
    padding-right: 10px;
  }
  .eduHistory {
    grid-template-columns: 6fr 6fr;
  }
  .hero p {
    padding: 10px 0 0 60px;
    width: 70%;
  }
  .hero h1 {
    padding: 50px 0 0 60px;
    font-size: 50px;
  }
}
@media only screen and (min-width: 860px) {
  .projectGrid {
    grid-template-columns: 4fr 4fr 4fr;
  }
  .projects .thumbnail {
    width: 250px;
  }
  .projects p {
    padding: 0 15px;
  }
  .hero p {
    padding: 10px 0 0 60px;
    width: 50%;
    line-height: 26px;
  }
}
@media only screen and (min-width: 1115px) {
  .projectGrid {
    grid-template-columns: 6fr 6fr;
  }
  .projects .thumbnail {
    width: 350px;
  }
  .projects p {
    padding: 0 100px;
  }
}
